.project-box {
  border: 1px solid var(--secondary-color);
  height: 250px;
  position: relative;
  box-shadow: 0px 0px 3px var(--primary-color);
}
.project-box .project-info {
  position: absolute;
  left: 0;
  bottom: -100%;
  height: 100%;
  width: 100%;
  color: var(--main-color);
  transition: var(--main-transition);
  color: var(--main-color);
  background-color: var(--primary-color);
}
.project-box .project-info small {
  color: var(--secondary-color);
}
.project-box .project-info .main-btn {
  background-color: rgba(225, 225, 225, 0.7);
  border: 1px solid #ccc;
  color: var(--primary-color);
}
.project-box .project-info .main-btn .btn-icon i {
  background-color: white;
}
.project-box .project-info .main-btn::after {
  background-color: white;
}
.project-box .project-info .main-btn i,
.project-box .project-info .main-btn .btn-name {
  position: relative;
  z-index: 2;
}
.project-box:hover .project-info {
  bottom: 0;
  z-index: 1;
}
